.u-section-1 {
  background-image: url("images/MilfordSound-294.jpg");
  background-position: 0% 63.28%;
  background-size: 105%;
}

.u-section-1 .u-sheet-1 {
  min-height: 363px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 80px 389px 0;
}

.u-section-1 .u-text-2 {
  margin: 17px 418px 0;
}

.u-section-1 .u-image-1 {
  width: 51px;
  height: 51px;
  margin: 60px auto 0 495px;
}

.u-section-1 .u-image-2 {
  width: 50px;
  height: 50px;
  margin: -50px auto 32px 596px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 90px;
    margin-left: 289px;
    margin-right: 289px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 318px;
    margin-right: 318px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 80px;
    margin-left: 399px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 491px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 179px;
    margin-right: 179px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 208px;
    margin-right: 208px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 289px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 381px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 89px;
    margin-right: 89px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 118px;
    margin-right: 118px;
  }

  .u-section-1 .u-image-1 {
    width: 34px;
    height: 34px;
    margin-top: 49px;
    margin-left: 214px;
  }

  .u-section-1 .u-image-2 {
    width: 33px;
    height: 33px;
    margin-top: -33px;
    margin-bottom: 60px;
    margin-left: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    background-position: 25.63% 67.18%;
    background-size: auto 205%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 225px;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
    margin-left: 112px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -34px;
    margin-left: 196px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 497px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  margin: 60px 268px 0;
}

.u-section-2 .u-text-2 {
  margin: 60px 512px 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  margin: 28px 211px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-2 .u-text-1 {
    width: 604px;
    margin-top: 34px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 34px;
    margin-left: 412px;
    margin-right: 412px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 20px 111px 35px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 302px;
    margin-right: 302px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 1px;
    margin-left: 1px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 328px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    margin-left: 4px;
    margin-right: 4px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 923px;
}

.u-section-3 .u-text-1 {
  margin: 27px 391px 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 28px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin: 0 19px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 51px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 39px auto 0 92px;
  padding: 43px 71px 45px;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("images/cancer-cell.jpg");
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 32px;
  margin-bottom: -106px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  height: 321px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 12px auto 0;
}

.u-section-3 .u-text-5 {
  margin: 39px 0 0;
}

.u-section-3 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 39px auto 0;
  padding: 43px 71px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1017px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 291px;
    margin-right: 291px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-3 .u-image-2 {
    height: 264px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 181px;
    margin-right: 181px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 27px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-3 .u-image-2 {
    height: 202px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1679px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 91px;
    margin-right: 91px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 22px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-3 .u-image-2 {
    height: 303px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1550px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 23px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 239px;
  }

  .u-section-3 .u-image-2 {
    height: 191px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 972px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 380px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 0;
  padding: 43px 71px 45px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 410px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 380px;
  height: 380px;
  margin: -30px auto 0;
}

.u-section-4 .u-layout-wrap-2 {
  margin: 0 0 -153px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 423px;
  height: 363px;
  margin: -6px auto;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 411px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 7px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 34px 0;
}

.u-section-4 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 46px auto 0;
  padding: 43px 71px 45px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 313px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 30px;
  }

  .u-section-4 .u-layout-wrap-2 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-4 .u-image-2 {
    width: 410px;
    height: 351px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 339px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 259px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-4 .u-image-2 {
    width: 300px;
    height: 257px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1590px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 389px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 380px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1612px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 245px;
  }

  .u-section-4 .u-layout-wrap-2 {
    margin-bottom: 2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 239px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 22px;
    margin-right: 22px;
  }
}